# Ignore local node packages and builds
node_modules
dist
build
.npm

# Ignore git metadata
.git
.gitignore

# Ignore environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore development logs
*.log
logs
npm-debug.log*

# Ignore zip files
*.zip
stitch_stitch_crowdsentry_command_dashboard.zip
